<h1>Products</h1>

<p *ngIf="allProducts.length == 0"><em>No products to show</em></p>
<a [routerLink]="['add']" class="btn btn-primary float-right" style="margin-top: -50px;" title="Add New Product"><h2>+</h2></a>

<div>
  <label>Filter based on category:   </label>
    <select (change)="filterForSelectedCategory($event.target.value)">
        <option value="0">--All--</option>
        <option *ngFor="let category of categories" value={{category}}>
            {{category}}
        </option>
    </select>
</div>

<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="s12 m6" style="margin: 2px" *ngFor="let product of allProducts">
      <div class="card bg-light mb-3" style="min-width: 18rem;">
        <div class="card-header">{{ product.name }}</div>
        <div class="card-body">
          <h6 class="card-subtitle">Category: {{ product.category }}</h6>
          <hr>
            <div class="card-text"> Quantity: {{ product.quantity }} </div>
            <hr>
            <div class="card-text">Unit Price: {{ product.unitPrice }} </div>
            <hr>
            <div class="card-text">Total Price: {{ product.totalPrice }} </div>
            
        </div>
        <div class="card-footer">
          <a [routerLink]="['products/edit/', product.id]" title="Edit this product" class="btn btn-info float-left"> Edit</a>
          <a [routerLink]="" (click)="deleteProduct(product)" title="Delete this product" class="btn btn-danger float-right">Delete</a>
        </div> 
      </div>
    </div>
  </div>
</div>